MONGO_URL=mongodb://localhost:27017
DB_NAME=example_database
CORS_ORIGINS=http://localhost:3000

# PostgreSQL Configuration
PG_HOST=localhost
PG_DATABASE=example_database
PG_USER=example_user
PG_PASSWORD=example_password
PG_PORT=5432

# Admin Credentials
ADMIN_USERNAME=example_admin
ADMIN_PASSWORD=example_admin_password

# JWT Configuration
SECRET_KEY=example_jwt_secret
